---
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro'
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="description" content="Portafolio web de Camilo Varon - Desarrollador Frontend" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@cavb1205" />
    <meta name="twitter:creator" content="@cavb1205" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Portafolio web de Camilo Varon - Desarrollador Frontend" />
    <meta property="og:image" content="/images/foto-camilo-varon.webp" />
    <meta property="og:url" content="https://www.camilovaron.dev" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
  </head>
  <body class="bg-dark min-h-screen">
    <slot />
    <Footer />
    <Analytics />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #60a5fa;
    --color-secondary: #a78bfa;
    --color-accent: #2dd4bf;
  }

  html {
    font-family: system-ui, sans-serif;
  }

  body {
    background: theme("colors.dark.DEFAULT");
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
